html, body {
    min-height: 100vh;
}

body {
    background: linear-gradient(120deg,
              oklch(0.1554 0.0343 237.76) 0%,
              oklch(0.1554 0.0 237.76) 50%,
              oklch(0.1554 0.0343 24) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* optional, keeps it locked to the viewport */
    color: whitesmoke;
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}
a {
    color: aqua;
}
a:visited {
    color: aqua
}

.site-header {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    width: min(100%, 40rem);
    margin: 1.5rem auto 0;
    margin-bottom: 1.5vh;
}

.icon {
    width: 1em;            /* match the font size */
    height: 1em;
    vertical-align: -0.125em; /* aligns baseline nicely */
}
.with-icon { white-space: nowrap; }

.site-header a {
    flex: 1 1 0;          /* give every link an equal share of the row */
    display: flex;        /* make the link fill its slot */
    justify-content: center;
    align-items: center;
    padding-inline: 12px;
    padding-block: 4px;
    background-color: hsl(0, 0%, 10%);
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 1.25rem;
}
.site-header a:hover {
    background-color: hsl(0, 0%, 20%);
}
.site-header a:active {
    background-color: hsl(0, 0%, 15%);
}
.primary {
    margin: auto;
    width: fit-content;
  }