.nb-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.notebook {
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color:white;
    text-decoration: none;
    max-width: 400px;
    max-height: 400px;
    background-color: rgba(0, 148, 255, 0.0);
    transition: background-color 0.25s;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notebook:hover {
    background-color: rgba(0, 148, 255, 0.08);
    transition: background-color 0.25s;
}
.notebook p {
    font-size: small;
}