.row-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.row-section div {
    padding: 5px;
}
.has-tooltip {
    cursor: pointer;
    color: rgb(172, 172, 172);
    border-bottom: 1px dotted rgb(172, 172, 172);
    transition: border-bottom 0.25s;
}
.has-tooltip:hover {
    border-bottom: 1px dotted rgb(221, 221, 221);
}