.row-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.row-section div {
    padding: 5px;
}
.has-tooltip {
    cursor: pointer;
    color: rgb(172, 172, 172);
    border-bottom: 1px dotted rgb(172, 172, 172);
    transition: border-bottom 0.25s;
}
.has-tooltip:hover {
    border-bottom: 1px dotted rgb(221, 221, 221);
}

.collapsible {
    overflow: hidden;
    transition: max-height 0.35s ease-out;
    max-height: 0;
}

.section-head.active + .collapsible {
    max-height: 100%;
}

.section-head {
    cursor: pointer;
    position: relative;
    border-bottom: 1px dotted white;
    display: block;
    margin-top: 10px;
  }
.section-head * {
    display: inline;
}
  
  .section-head::after {
    content: '▼';
    position: absolute;
    right: 10px;
  }
  
  .section-head.active::after {
    content: '▲';
  }