<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title%}{% endblock %}</title>

        <link rel="preload" href="{{ url_for('static', filename='css/base.css')}}" as="style" onload="this.rel='stylesheet'">
        {% block site_head %}{% endblock %}
    </head>
    <body>
        <div class="site-header">
            <a href="\"><p>Home</p></a>
            <a href="https://kamilarif.substack.com/"><p>Blog</p></a>
            <a href="\contact"><p>Contact</p></a>
        </div>
        <div class="site-body">
            {% block body %}{% endblock %}
        </div>
        <div class="site-footer">
            Last Updated: 11/9/2025
        </div>        
    </body>
</html>