{% extends "base.html" %}

{% block site_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block title %}
Kamil Arif
{% endblock %}

{% block body %}
<h1>Hi, I'm Kamil</h1>
<p>...and this is my portfolio and/or website I throw cool things onto.</p>
<p>I am an undergrad at NJIT, taking the B.S. in Data Science program, and I'm aiming for a career in AI/ML.</p>
<div class='row-section'>
    <div>
        <b>Languages</b>
        <ul>
            <li>Python</li>
            <li>Typescript/Javascript</li>
            <li>C# <span class='has-tooltip' title="This was the first real programming language I learned!">!</span></li>
            <li>C, C++</li>
            <li>Java</li>
        </ul>
    </div>
    <div>
        <b>Databases</b>
        <ul>
            <li>MongoDB</li>
            <li>SQL (MS & Oracle)</li>
            <li>PostgreSQL</li>
        </ul>
    </div>
    <div>
        <b>Tools</b>
        <ul>
            <li>GitHub</li>
            <li><a href="https://www.cvat.ai/">CVAT</a> <span class='has-tooltip' title="To this day I have an evisceral reaction to stock images of kitchens.">!</span></li>
            <li>AWS</li>
            <li>DigitalOcean <span class='has-tooltip' title="That's what this site is running on!">!</span></li>
            <li>Unity</li>            
        </ul>
    </div>
    <div>
        <b>Libraries</b>
        <ul>
            <li>Keras, PyTorch</li>
            <li>React, Node.js</li>
            <li>Flask <span class='has-tooltip' title="That's what this site is built on!">!</span></li>
            <li>Scikit & co.</li>
        </ul>
    </div>
</div>
<h2>Jobs</h2>
(In order of recency)
<div class='row-section'>
    <div>
        <h3>NJIT; Grader</h3>
        <b>Part-time; Jan 2023 - Now</b>
        <blockquote>
            <p>I work as a grader for CS370, and in the past, CS482. Both classes cover Machine Learning concepts in depth, with rigorous course material & real-world projects. I've graded for a total of about 228 students as of Fall '24, and I've been grading since Spring '23.</p>
            <p>In my time as a grader I've pushed for a variety of improvements that helped make the class more useful to students, and enabled the class to scale better with the amount of students it has to host.</p>
            <p>One benefit of working as a grader is that you very have to learn how to tell someone they're wrong without making them angry. I like to think I've done a decent job of that.</p>
        </blockquote>
    </div>
</div>
<div class='row-section'>
    <div>
        <h3>CDx Diagnostics; ML Intern</h3>
        <b>Part-time; Sept 2022 - Jan 2023</b>
        <blockquote>
            <p>At CDx, I worked on an Image Classification pipeline that could differentiate cancerous cells from debris and other such things on a microscope slide. I ended up working on every part of the process except the final integration, from extracting images from the company's DB to training the model.</p>
            <p>The model itself was built on the ResNet-50 architecture using Keras, starting from ImageNet weights and fine-tuned from there. The model was decently performant (just under 90% accuracy) considering that the data wasn't the cleanest, and I had yet to learn about <a href="https://thecleverprogrammer.com/2021/04/25/class-balancing-in-machine-learning/">class balancing</a>.</p>
        </blockquote>
    </div>
</div>
<h2>Misc.</h2>
(If you're looking for projects, they have a dedicated page)
<h3>CVAT Installation Guide Contribution</h3>
<blockquote>
    <p>I'm the reason there's a <a href="https://opencv.github.io/cvat/docs/administration/basics/installation/#windows-10">functional guide</a> to install CVAT in Windows! This was the first PR I made to a public repo and I didn't get yelled at, so I take that as a win!</p>
    <p>The issue was basically that CVAT was designed for Linux, but the Windows installation instructed users to install it via Git Bash- which wasn't ideal, but it'd work if you were just using the basic functionalities of CVAT. However for my project I wasn't; and due to an issue in one of CVAT's dependencies, it would actually break on Windows. So I submitted a PR to instruct users to install CVAT on WSL2 instead, which was probably the better approach regardless.</p>
    <a href="https://github.com/opencv/cvat/pull/5558">https://github.com/opencv/cvat/pull/5558</a>
</blockquote>
<h3>Langchain as_retriever() Documentation</h3>
<blockquote>
    <p>I was trying to filter the documents that LangChain feeds to my LLM, and eventually figured it out. I realized this wasn't written in the documentation so I made a PR to put it there, along with a (in hindsight, not amazing) suggestion for a change to the actual function.</p>
    <p>I think it got rewritten at some point, because I can't find it now- LangChain is constantly changing so I'm not too surprised by that. But I'm still on the contributor list!</p>
    <a href="https://github.com/langchain-ai/langchain/pull/8803">https://github.com/langchain-ai/langchain/pull/8803</a>
</blockquote>
{% endblock %}