{% extends "base.html" %}

{% block site_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css')}}">
{% endblock %}

{% block title %}
Kamil Arif
{% endblock %}

{% block body %}

<h1>Tools</h1>
<p>
    These tools are (typically) things that I needed at some point in time, which I've ported onto this site in case they're useful for anyone else.
</p>
<div class='nb-container'>
    <a class='notebook' href='/tools/righthand_regex'>
        <h3>Righthand Regex Tester</h3>            
        <p><i>9/22/2024</i>—&emsp;A tool that forces right-to-left languages into a left-to-right format in order to make it easier to write valid regex patterns for them.</p>
    </a>
    <a class='notebook' href='/tools/color_picker'>
        <h3>Color Picker</h3>            
        <p><i>10/10/2024</i>—&emsp;A tool that will take in a set of colors and find new colors to add to the set which are visually distinct both for people with typical eyesight and colorblindness.</p>
    </a>
</div>

{% endblock %}